@model List<MyDataForLabb1.Models.ModelGallery>
@{
    ViewBag.Title = "My Photo Gallery";

}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@{ 
 foreach (var image in Model)
 {
        <img src="~/Images/@image.Name" width="400px" />

    <div class="caption">
        <h2>@image.Id</h2>
        <h2>@image.Name</h2>
        @Html.ActionLink("Show Image", "ShowImage", "Home", new { Id = image.Id }, null)
        @Html.ActionLink("Delete Image", "DeleteAImage", "Home", new { Id = image.Id }, null)
    </div>
 }
}

@section bottom{ 
<h2> @Html.Label("Latest image uploaded"):</h2>
    <img src="~/Images/@Model.OrderBy(x=>x.dateAdded).Last().Name" width="100px" />
    <p>@Html.Label(Model.OrderBy(x => x.dateAdded).Last().Name.ToString())</p>
    <p>@Html.Label(Model.OrderBy(x => x.dateAdded).Last().Id.ToString())</p>
}
